<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Mishi</title>
</head>
<body>
    <section>
        <img src="../img/nft/robot_mishi.jpg" width="400px" height="380px"> 
        <h3 style="text-transform: capitalize;"> robot mishi</h3>
        <b>2 ether</b>
        <p>
          <b>date: 01/15/2021</b>  
        </p>
        <b>ded</b>
         <div>
            <span>user:</span> <i>mois</i>
            <p><a href="./views/detail_rmishi.html"></a></p>
         </div>
         <span>======================</span>                   
         <br>  
         <a href="../index.html">return</a>
        </section>
</body>
</html>